@using SGC14.Web.Helpers.Extensions
@model SGC14.Web.Models.SearchQuery
@{
    const string title = "Cascade";
}

<!DOCTYPE html>
<html ng-app="SGC14">
<head>
    <title>@title - @Model.Query</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700,400,600' rel='stylesheet' type='text/css'>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/style.min.css" rel="stylesheet" />
    <link href="~/Content/logos.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-12975236-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body ng-controller="SGC14Controller">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index")">@title</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @using (Html.BeginForm("Search", "Search", FormMethod.Get, new { role = "search", @class = "navbar-form navbar-left" }))
                {
                    <div class="form-group" style="width: 100%;">
                        <div class="input-group">
                            @Html.TextBox("query", string.Empty, new { @class = "form-control", placeholder = "Search", type = "search" })

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default" title="Search">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>

                        <div class="input-group">
                            @Html.SelectLanguage("language", "All languages", new { @class = "form-control" })
                        </div>
                    </div>
                }

                <ul class="nav navbar-nav" ng-cloak>
                    <li>
                        <a class="text-muted">
                            <strong>{{vm.getStateMessage()}}</strong>
                        </a>
                    </li>

                    <li>
                        <a class="text-muted">
                            <strong>{{vm.language}}</strong>
                        </a>
                    </li>

                    <li>
                        <a class="text-muted">@Model.Query</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("About", "About", "Search")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            @using (Html.BeginForm("Logout", "Authentication", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" role="main">
        <div class="row" ng-cloak ng-show="vm.getIsSearching()">
            <div class="col-xs-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-5" ng-cloak ng-controller="FilterController">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Show
                    </div>

                    <div class="panel-body">
                        <div class="btn-group">
                            <label class="btn btn-default" ng-class="{ 'active': filter.selected }" data-filter="{{filter.value}}" title="{{filter.key}}" ng-repeat="filter in vm.filters track by filter.key" ng-disabled="!vm.isFiltersEnabled()">
                                <input type="checkbox" name="filters" ng-model="filter.selected" ng-model-options="{ getterSetter: true }" ng-change="vm.toggleFilter()" />
                                <i class="fa fa-fw" ng-class="{ 'fa-{{filter.icon}}': true, {{filter.value}}: true }"></i> {{filter.key}}
                                <span class="badge">{{vm.count(filter.value)}}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-3" ng-cloak ng-controller="SortController">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Sort by
                    </div>

                    <div class="panel-body">
                        <div class="btn-group">
                            <label class="btn btn-default" ng-class="{ 'active': vm.sortBy === '{{kvp.value}}' }" ng-repeat="kvp in vm.options track by kvp.key" ng-disabled="!vm.isSortingEnabled()">
                                <input type="radio" name="sorts" ng-model="vm.sortBy" ng-model-options="{ getterSetter: true }" ng-value="kvp.value" /> {{kvp.key}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4">
                <div class="panel panel-default" ng-cloak>
                    <div class="panel-heading">
                        Stream <span class="glyphicon glyphicon-question-sign" title="Streaming means getting tweets from Twitter in real time - i.e. tweets appear here the moment they are posted on Twitter."></span>
                    </div>

                    <div class="panel-body">
                        <div class="input-group">
                            <button class="btn btn-default form-control" type="button" ng-click="vm.toggleStream()" ng-disabled="!vm.getIsStreamingEnabled()" ng-class="{'active': vm.getIsStreaming()}">
                                <i class="fa fa-fw fa-twtr tweet"></i> Stream
                            </button>

                            <div class="input-group-addon" role="alert">
                                Tweets may include explicit content.
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-3" ng-cloak ng-controller="SentimentController" ng-show="vm.isSentimentVisible()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Sentiment
                    </div>

                    <div class="panel-body">
                        <canvas pie-chart="vm.items">
                            Your browser does not support the &lt;canvas&gt; element.
                        </canvas>

                        <span style="color: #00A693;" class="pull-left">Positive tweets</span>
                        <span style="color: #CF1020;" class="pull-right">Negative tweets</span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4" ng-cloak ng-controller="TemporalController" ng-show="vm.isTemporalVisible()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Mentions over time
                    </div>

                    <div class="panel-body">
                        <div style="margin-right: 1em;">
                            <canvas temporal-chart="vm.items">
                                Your browser does not support the &lt;canvas&gt; element.
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="isotope-container" ng-cloak>
                    <div class="item" ng-repeat="item in vm.items" ng-switch="item.type" isotope-repeat data-type="{{item.type}}" data-type="{{item.type}}" data-created="{{item.created | epoch}}">
                        <article ng-switch-when="tweet">
                            <div></div>

                            <section>
                                <p ng-bind-html="item.text"></p>
                            </section>

                            <hr />

                            <header>
                                <img class="img-circle" ng-src="{{item.user.profile_image_url}}" alt="" />

                                <a href="https://twitter.com/{{item.user.screen_name}}" target="_blank" rel="author">
                                    <strong>{{item.user.name}}</strong>
                                </a>

                                <a href="{{'https://twitter.com/' + item.user.screen_name + '/status/' + item.id}}" target="_blank" rel="time">
                                    <time class="text-muted" datetime="{{item.created | date:'longDate'}}" title="{{item.created}}">{{ item.created | date:'longDate' }}</time>
                                </a>
                            </header>

                            <hr ng-if="item.sentiment.score !== 0" />

                            <section ng-if="item.sentiment.score !== 0" ng-class="{ 'text-success': item.sentiment.score > 0, 'text-danger': item.sentiment.score < 0 }">
                                <span class="glyphicon glyphicon-question-sign pull-right" title="Rudimentary sentiment analysis. How many words are positive/negative out of all the words in the tweet? &#13;&#13;Positive: {{item.sentiment.positive}} &#13;Negative: {{item.sentiment.negative}}"></span>
                                <span class="glyphicon" ng-class="{ 'glyphicon-thumbs-up': item.sentiment.score > 0, 'glyphicon-thumbs-down': item.sentiment.score < 0 }"></span>
                                <span>{{(item.sentiment.average_score_tokens / item.sentiment.score) * 100.0 | number:0}}% {{item.sentiment.score > 0 ? 'positive' : 'negative'}}.</span>
                            </section>
                        </article>

                        <article ng-switch-when="article">
                            <div></div>

                            <header>
                                <a href="{{item.id}}" target="_blank" title="{{item.title}}">
                                    <h5>
                                        <strong>{{item.title | limitToEllipsis:40}}</strong>
                                    </h5>
                                </a>
                            </header>

                            <hr ng-if="item.description.length > 0" />

                            <section ng-if="item.description.length > 0">
                                <p>{{item.description | limitToEllipsis:200}}</p>
                            </section>

                            <hr ng-if="item.created.length > 0" />

                            <section ng-if="item.created.length > 0">
                                <time datetime="{{item.created}}">{{item.created | date:'longDate'}}</time>
                            </section>

                            <hr />

                            <section>
                                <a href="{{item.id}}" target="_blank">
                                    Continue reading...
                                </a>
                            </section>
                        </article>

                        <article ng-switch-when="wiki">
                            <div></div>

                            <header>
                                <a href="http://en.wikipedia.org/wiki/{{item.id}}" target="_blank">
                                    <h5>
                                        <strong>{{item.title | limitToEllipsis:40}}</strong>
                                    </h5>
                                </a>
                            </header>

                            <hr />

                            <section>
                                <p>
                                    {{item.description | limitToEllipsis:200}}
                                </p>
                            </section>

                            <hr />

                            <section>
                                <a href="http://en.wikipedia.org/wiki/{{item.id}}" target="_blank">
                                    Continue reading
                                </a>
                            </section>
                        </article>

                        <article ng-switch-when="image">
                            <a href="{{item.url}}" target="_blank">
                                <img class="photo" ng-src="{{item.url}}" alt="{{item.url}}" title="{{item.url}}" />
                            </a>
                        </article>

                        <article ng-switch-when="movie" title="Courtesy of the themoviedb.org API!">
                            <div></div>

                            <img class="photo img-thumbnail" ng-src="https://image.tmdb.org/t/p/w342/{{item.poster_path}}" alt="{{item.title}}" title="{{item.title}}" ng-if="item.poster_path.length > 0" />

                            <section>
                                <a href="https://www.themoviedb.org/movie/{{item.id}}" target="_blank">
                                    <h5>
                                        <i class="fa fa-fw fa-video-camera"></i>
                                        <strong>{{item.title}}</strong>
                                    </h5>
                                </a>

                                <div>
                                    <span class="glyphicon glyphicon-star" ng-repeat="i in vm.range(10) track by $index" ng-class="$index < item.rating ? 'glyphicon-star' : 'glyphicon-star-empty'" title="{{item.rating | number:2}}"></span>
                                </div>
                            </section>
                        </article>

                        <article ng-switch-when="book" title="Courtesy of the Goodreads API!">
                            <div></div>

                            <section>
                                <h5>
                                    <i class="fa fa-fw fa-book"></i>
                                    <strong>{{item.title}}</strong>
                                </h5>

                                <h6>
                                    By {{item.author}}
                                </h6>

                                <h6>
                                    <em ng-if="item.created.length > 0">
                                        <time datetime="{{item.created}}">Released {{item.created | date:'longDate'}}</time>
                                    </em>
                                </h6>

                                <div ng-if="item.ratings_count > 0" title="{{item.rating | number:2}}">
                                    <span class="glyphicon glyphicon-star" ng-repeat="i in vm.range(5) track by $index" ng-class="$index < {{item.rating | number:0}} ? 'glyphicon-star' : 'glyphicon-star-empty'"></span>
                                </div>
                            </section>

                            <hr />

                            <section>
                                <a href="http://goodreads.com/book/show/{{item.id}}" target="_blank">
                                    Continue reading on Goodreads
                                </a>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery.imagesloaded.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>

    <!-- app -->
    <script src="~/Scripts/app/Sgc14.module.js"></script>

    <!-- models -->
    <script src="~/Scripts/app/models/KeyValuePair.js"></script>
    <script src="~/Scripts/app/models/Filter.js"></script>
    <script src="~/Scripts/app/models/ISGC14Item.js"></script>

    <!-- services -->
    <script src="~/Scripts/app/services/ImagesLoaded.service.js"></script>
    <script src="~/Scripts/app/services/Isotope.service.js"></script>
    <script src="~/Scripts/app/services/SearchHub.service.js"></script>
    <script src="~/Scripts/app/services/StreamHub.service.js"></script>
    <script src="~/Scripts/app/services/Data.service.js"></script>

    <!-- controllers -->
    <script src="~/Scripts/app/controllers/Filter.controller.js"></script>
    <script src="~/Scripts/app/controllers/Sentiment.controller.js"></script>
    <script src="~/Scripts/app/controllers/Sgc14.controller.js"></script>
    <script src="~/Scripts/app/controllers/Sort.controller.js"></script>
    <script src="~/Scripts/app/controllers/Temporal.controller.js"></script>

    <!-- directives -->
    <script src="~/Scripts/app/directives/IsotopeRepeat.directive.js"></script>
    <script src="~/Scripts/app/directives/SentimentChart.directive.js"></script>
    <script src="~/Scripts/app/directives/TemporalChart.directive.js"></script>

    <!-- filters -->
    <script src="~/Scripts/app/filters/LimitToEllipsis.filter.js"></script>
    <script src="~/Scripts/app/filters/PrettyDate.filter.js"></script>
    <script src="~/Scripts/app/filters/Epoch.filter.js"></script>
</body>
</html>